repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: check-yaml
      - id: double-quote-string-fixer
      - id: end-of-file-fixer
#      - id: no-commit-to-branch
#      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: mypy
        name: Mypy
        entry: mypy
        language: python
        'types': [ python ]

      - id: pylint
        name: Pylint
        entry: pylint
        language: python
        'types': [ python ]
