feedparser==6.0.8
python-dotenv==0.19.0
python-telegram-bot==13.7
timeloop==1.0.2
APScheduler #  contained in python-telegram-bot
telegram # contained in python-telegram-bot
pytz # contained in python-telegram-bot
