feedparser==6.0.8
python-dotenv==0.19.2
python-telegram-bot==13.9
types-pytz==2021.3.2
pytz #  contained in python-telegram-bot
APScheduler #  contained in python-telegram-bot
telegram # contained in python-telegram-bot
